.article {
  width: 70%;
  margin: 40px auto;

  h5 {
    font-size: 27px;
    color: rgb(170, 170, 170);
    margin-bottom: 20px;
  }

  p {
    text-align: justify;
    font-size: 18px;
  }

  span {
    display: block;
    text-align: right;
    font-style: italic;
    color: rgb(170, 170, 170);
    font-size: 15px;
  }
}

@include media-breakpoint-down(sm) {
  .article {
    width: 90%;
    margin: 40px auto;
  }
}