.contact {
  position: relative;
  background-color: gold;
  padding-bottom: 20px;
  font-size: 16px;


  .triangle-topleft {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 0;
    height: 0;
    border-top: 200px solid black;
    border-right: 100px solid transparent;
  }


  .container {
    width: 42%;

    a {
      margin-bottom: 7px;
      text-decoration: none;
      color: black;

      &:hover {
        color: rgb(73, 73, 73);
      }
    }

    p {
      margin-bottom: 7px;
    }
  }

  .dispCol {
    display: flex;
    // width: 70%;
  }

  .person {
    flex-basis: 50%;
  }

  .company {
    flex-basis: 50%;
  }

  .contactTitle {
    padding: 10px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 30px;
  }

  .contactName {
    display: block;
    margin-bottom: 25px;
    // margin-left: 30px;
    margin-top: 10px;
    font-family: 'Audiowide', cursive;
    // text-decoration: underline;
    font-size: 26px;
  }

  .person a {
    display: block;
    text-align: center;
  }



  .fas,
  .fab {
    display: inline-block;
    margin-right: 5px;
  }
}



@include media-breakpoint-down(xl) {
  .contact {
    .container {
      width: 60%;
    }
  }

}

@include media-breakpoint-down(lg) {
  .contact {
    .dispCol {
      flex-direction: column;
      // width: 70%;
    }

    .person {
      margin-bottom: 20px;
    }

  }
}

@include media-breakpoint-down(md) {
  .contact {
    .contactName {
      font-size: 23px;
    }
  }
}

@include media-breakpoint-down(sm) {

  .contact {
    .container {
      width: 80%;
    }

    .contactName {
      font-size: 20px;
    }

    .contactName {
      margin-top: 30px;
    }

  }

}