.gerrisBoxOdd {
  display: flex;
  width: 80%;
  margin: 80px auto;


  .gerrisTextOdd {
    flex-basis: 50%;
    text-align: justify;
    padding-right: 45px;
    font-size: 18px;
  }

  .gerrisImgBoxOdd {
    position: relative;
    flex-basis: 40%;
    min-height: 300px;
    background-color: gold;
    width: 150px;
    transform: skew(-10deg);
    overflow: hidden;
    border: 5px solid gold;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
      rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px,
      rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px,
      rgba(0, 0, 0, 0.07) 0px 32px 64px;

    .gerrisOneImgOdd1 {
      position: absolute;
      top: 0;
      left: -30px;
      transform: skew(10deg);
      margin: 0;
      width: 115%;
      height: 100%;
      background-image: url("../images/g1two.jpg");
      background-size: cover;
      background-position: 20% 55%;
    }

    .gerrisOneImgOdd3 {
      position: absolute;
      top: 0;
      left: -30px;
      transform: skew(10deg);
      margin: 0;
      width: 115%;
      height: 100%;
      background-image: url("../images/g1three.jpg");
      background-size: cover;
      background-position: center 60%;
    }

    .gerrisTwoImgOdd1 {
      position: absolute;
      top: 0;
      left: -30px;
      transform: skew(10deg);
      margin-left: 2px;
      width: 113%;
      height: 100%;
      background-image: url("../images/g2one.jpg");
      background-size: cover;
      background-position: 50% 70%;
    }

    .gerrisTwoImgOdd3 {
      position: absolute;
      top: 0;
      left: -30px;
      transform: skew(10deg);
      margin: 0 -55px 0 0;
      width: 120%;
      height: 100%;
      background-image: url("../images/g2three.jpg");
      background-size: cover;
      background-position: center;
    }


    .gerrisThreeImgOdd1 {
      position: absolute;
      top: 0;
      left: -30px;
      transform: skew(10deg);
      margin: 0 -55px 0 0;
      width: 120%;
      height: 100%;
      // //////////////////////////////////////////////////////////////////////////////////////
      ///////////////////////////////////////////////////////////////////////////////////////
      // background-image: url("../images/g2one.jpg");
      // //////////////////////////////////////////////////////////////////////////////////////
      ///////////////////////////////////////////////////////////////////////////////////////
      background-size: cover;
      background-position: center;
    }

    .gerrisThreeImgOdd3 {
      position: absolute;
      top: 0;
      left: -30px;
      transform: skew(10deg);
      margin: 0 -55px 0 0;
      width: 120%;
      height: 100%;
      // //////////////////////////////////////////////////////////////////////////////////////
      ///////////////////////////////////////////////////////////////////////////////////////
      // background-image: url("../images/g2one.jpg");
      // //////////////////////////////////////////////////////////////////////////////////////
      ///////////////////////////////////////////////////////////////////////////////////////
      background-size: cover;
      background-position: center;
    }

  }
}


.gerrisBoxEven {
  display: flex;
  width: 80%;
  margin: 70px auto;

  .gerrisTextEven {
    flex-basis: 60%;
    text-align: justify;
    padding-left: 45px;
    font-size: 18px;
  }

  .gerrisImgBoxEven {
    position: relative;
    flex-basis: 40%;
    min-height: 300px;
    background-color: gold;
    width: 150px;
    transform: skew(10deg);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
      rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px,
      rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px,
      rgba(0, 0, 0, 0.07) 0px 32px 64px;
    overflow: hidden;
    border: 5px solid gold;

    .gerrisOneImgEven {

      position: absolute;
      top: 0;
      left: -30px;
      transform: skew(-10deg);
      margin: 0 -55px 0 0;
      width: 120%;
      height: 100%;
      background-image: url("../images/g1one.jpg");
      background-size: cover;
      background-position: center;
    }

    .gerrisTwoImgEven {
      position: absolute;
      top: 0;
      left: -30px;
      transform: skew(-10deg);
      margin: 0 -55px 0 0;
      width: 120%;
      height: 100%;
      background-image: url("../images/g2two.jpg");
      background-size: cover;
      background-position: center;
    }

    .gerrisThreeImgEven {
      position: absolute;
      top: 0;
      left: -30px;
      transform: skew(-10deg);
      margin: 0 -55px 0 0;
      width: 120%;
      height: 100%;
      // //////////////////////////////////////////////////////////////////////////////////////
      ///////////////////////////////////////////////////////////////////////////////////////
      // background-image: url("../images/g2one.jpg");
      // //////////////////////////////////////////////////////////////////////////////////////
      ///////////////////////////////////////////////////////////////////////////////////////
      background-size: cover;
      background-position: center;
    }
  }
}

.gerrisDesign {
  display: block;
  text-align: center;
  color: rgb(170, 170, 170);
  margin-bottom: 30px;
  font-size: 18px;
}

.gerrisMoreSoon {
  display: block;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.gerrisHelp {
  text-align: center;
  margin-bottom: 20px;
  color: red;
  font-weight: 700;
  font-size: 18px;
}

.setBoxImg {
  display: block;
  padding: 0;
  width: 40%;
  margin: 0 auto 50px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
    rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px,
    rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px,
    rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

@include media-breakpoint-down(xl) {
  .gerrisBoxOdd {
    flex-direction: column;
    flex-basis: 300px;
    // height: 370px;
    width: 90%;
    margin: 50px auto;
    flex-grow: 1;

    .gerrisTextOdd {
      flex-basis: 20%;
      text-align: justify;
      padding: 0 45px;
      font-size: 18px;
    }

    .gerrisImgBoxOdd {
      flex-basis: 80%;
      height: 350px;
      margin: 0 auto;
      width: 350px;
    }
  }

  .gerrisBoxEven {
    flex-direction: column;
    flex-basis: 300px;
    // height: 450px;
    width: 90%;
    margin: 50px auto 20px;

    .gerrisTextEven {
      flex-basis: 20%;
      text-align: justify;
      padding-right: 45px;
      font-size: 18px;
      margin-bottom: 0;
    }

    .gerrisImgBoxEven {
      flex-basis: 80%;
      height: 350px;
      margin: 0 auto;
      width: 350px;
      margin-bottom: 50px;

    }
  }
}



@include media-breakpoint-down(lg) {
  div.container {
    width: 90%;
  }

  .gerrisBoxOdd,
  .gerrisBoxEven {
    width: 100%;
    margin: 50px 0 20px;

    .gerrisTextEven,
    .gerrisTextOdd {
      padding: 0;
    }
  }
}


@include media-breakpoint-down(sm) {


  .gerrisBoxOdd {
    .gerrisImgBoxOdd {
      width: 280px;



      .gerrisOneImgOdd1,
      .gerrisOneImgOdd3,
      .gerrisTwoImgOdd1,
      .gerrisTwoImgOdd3,
      .gerrisThreeImgOdd1,
      .gerrisThreeImgOdd3,
      .gerrisOneImgOdd2,
      .gerrisTwoImgOdd2,
      .gerrisThreeImgOdd2 {
        width: 125%;
      }
    }
  }

  .gerrisBoxEven {
    .gerrisImgBoxEven {

      width: 280px;


    }
  }

  .setBoxImg {

    width: 80%;
  }

}