.media {


  .facebook,
  .instagram {
    position: fixed;
    // top: 200px;
    right: 0;
    z-index: 1;
    background-color: #000;
    height: 60px;
    width: 50px;
    border-radius: 40px 0 0 40px;

    a {
      position: absolute;
      top: 50%;
      left: 55%;
      transform: translate(-50%, -50%);

      i {
        font-size: 27px;
        color: #fff;
      }

      i:hover {

        color: #ddd;
      }
    }
  }




  .facebook {
    bottom: 120px;
    background: #3b5998;

  }

  .instagram {
    bottom: 50px;
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  }
}


@include media-breakpoint-down(sm) {
  .media {

    .facebook,
    .instagram {
      height: 50px;
      width: 40px;
      border-radius: 40px 0 0 40px;

      a {
        left: 57%;
      }
    }
  }
}