.bgSetBox {
  margin: 75px 0 40px;
  background-color: rgb(156, 156, 156);

}

.setBox {
  display: flex;
  width: 55%;
  margin: 20px auto;

  padding: 20px;
  background-color: rgb(156, 156, 156);
  color: white;
  font-size: 12px;


  p {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
  }

  li {
    padding-bottom: 3px;
    font-size: 14px;
  }

  .setInclude {
    flex-basis: 50%;
  }

  .optional {
    flex-basis: 50%;
  }
}


@include media-breakpoint-down(lg) {
  .setBox {
    flex-direction: column;
    width: 70%;
  }
}

@include media-breakpoint-down(md) {

  .setBox {

    width: 70%;
  }
}



@include media-breakpoint-down(sm) {

  .setBox {

    width: 90%;
  }
}