.titleBox {
  position: relative;
  width: 120px;
  height: 70px;
  margin: 40px 0 0;
  background-color: gold;
  white-space: nowrap;

  .titleText {
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 40px;
    color: black;
    font-family: 'Audiowide', cursive;
  }
}

@include media-breakpoint-down(md) {
  .titleBox {
    margin: 40px 0 0;
    width: 100px;
    height: 57px;

    .titleText {
      font-size: 30px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .titleBox {
    margin: 40px 0 0;
    width: 100px;
    height: 57px;

    .titleText {
      font-size: 27px;
      top: 9px;
    }
  }
}